<div class="classic-channel">
	<div class="heading-top">
		<h2>Active Users</h2>
	</div>
	<% class_arr = ['red','green','silver']; i=0 %>
	<ul id="active_users">
		<% @active_users.each do |u| %>
		<li>
			<a href="/users/<%= u.id %>/videos">
				<!--<img src="/images/img-c<%= i+1 %>.jpg" alt="<%= u.nick %>" />-->
				<%=image_tag("https://graph.facebook.com/#{current_user.fb_id}/picture",:size=>"55x55",:class=>'profile_pic', :alt=>u.nick) %>
				<span><%= u.nick %></span>
				<em><strong><%= 100 + i %></strong> Videos</em>
			</a>
		</li>
		<% i=i+1; end %>
		
	</ul>
</div>
<div class="heading-top">
		<a href="#">View More</a>
</div>