<title>VtagO - Sign in</title>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
	(function(d, s, id) {
  		var js, fjs = d.getElementsByTagName(s)[0];
  		if (d.getElementById(id)) {return;}
  		js = d.createElement(s); js.id = id;
  		js.src = "//connect.facebook.net/en_US/all.js" // #**oauth=1**&xfbml=1&appId=<%= FB_APP_ID %>";
  		fjs.parentNode.insertBefore(js, fjs);
		}
		(document, 'script', 'facebook-jssdk'));
</script>
<!--Content Section -->
<div id="signin_content_wrapper">
	<div id="signin_content">
		<div id="left_col">
			<div class="bg-shadow">&nbsp;<!--this is for side shadow --></div>
			<div class="signin_form_heading">
				<h1>Login to VtagO</h1>
				<p>Welcome, please login with your account details or click on "Sign up" for creating new account.</p>
			</div>
			<%= form_for :session, :url => session_path do |form| %>
				<div class="signin-form">
					<ul>
						<li>
						    <%= form.label :email %>
							<span>
								<%= form.text_field :email, :type => "email", :class =>"txt-field", :onfocus => "if(this.value == 'Email Address') { this.value = ''; }", :onblur => "if(this.value == '') { this.value = 'Email Address'; }" %>
							</span>
						</li>
						<li>
					    <%= form.label :password %>
							<span>
								<%= form.password_field :password , :class => "password", :value => "password", :onfocus => "if(this.value == 'password') { this.value = ''; }", :onblur => "if(this.value == '') { this.value = 'password'; }" %>
							</span>
						</li>
						<li>
							<div>
								<label class="remem-me"><input type="checkbox"  />Remember Me </label>
								<%= link_to "Forgot password?", new_password_path %>
							</div>
						</li>
						<div id="fb-root"></div>
						<script>
							FB.init({
								appId : '<%= FB_APP_ID %>',
								status : true, // check login status
								cookie : true, // enable cookies to allow the server to access the session
								xfbml : true, // parse XFBML
								oauth : true
							});
						
							FB.getLoginStatus(function(response) {
								//alert("status " + response.status);
							  if (response.status === 'connected') {
									location.href = '/video/latest'; // the user is logged in and connected to your app, and response.authResponse supplies the user’s ID, a valid access token, a signed request, and the time the access token and signed request each expire
							    //var uid = response.authResponse.userID;
							    //var accessToken = response.authResponse.accessToken;
							  } else if (response.status === 'not_authorized') {
									alert("in face, out app");
							    // the user is logged in to Facebook, but not connected to the app
							  } else {
									alert("not logged in at all");
							    // the user isn't even logged in to Facebook.
							  }
							});
							
							FB.Event.subscribe('auth.login', function (response) {
								//alert("login event");
								 if (response.status === 'connected') {
						          location.href = "video/latest?fb=true";
										}
						  });
							
						</script>
		        <div class="fb-login-button">Login with Facebook</div></br>
						<li>
							<div class="login-btn"><%= form.submit "Sign in" %></div>
						</li>
					</ul>
					<ul>
						<li>
							<div>
					    	<%= link_to "Sign up", sign_up_path %>
							</div>
					  </li>
					</ul>
				</div>
		<% end %>
		</div>
		<div id="right_col">
			<a href="/sign_in">
				<img src="images/banner-signin.jpg" alt="Sign In" />
			</a>
		</div>
		<br class="clear" />
	</div>
</div>
<!--Content Section End -->