<script type="text/javascript">
	$(document).ready(function(){ 
	
	$("#upload_fb_video").click(function(){
		if (fb_upload_validation()){
			//submit form
		$("form:first").submit();
		}
		else{
			// show error
			$("#file_upload_error").show();
		}
	});	
	
	function fb_upload_validation(){
		//check if upload file is empty
		if ($("#upload_fb_file").val()!=''){
			return true
		}
	}
	
});
</script>

<div class="upload_video">	
		<!--<div class="left_sidebar"></div>-->
		<div class="wrapper">
			<div>
				<%= form_for(@video, :url => { :action => "create" }, :html => { :multipart => true }, "action"=>"fb_videos") do |f| %>
	        	<% if @video.errors.any? %>
			          	<div id="error_explanation">
			            	<ul>
			              	<% @video.errors.full_messages.each do |msg| %>
			                	<li><%= msg %></li>
			               	<% end %>
			           		</ul>
			       		</div>
	   			<% end %>
   			</div>
   		
	   			<h2>Upload a video</h2>	
	   			<ul id="fb_upload" class="radious_6 shadow">
						<li>
							<label><%= f.label :title %></label>
							<div><%= f.text_field :title,:class=>'fb_input_style'%></div>
						<li>
						<li>
							<label> <%= f.label :description %> </label>
							<div><%= f.text_area :description, "onfocus"=>"this.value=''; setbg('#e5fff3')", "onblur"=>"setbg('white');",:class=>'upload_text_area' %></div>
						</li>
						<li>
							<label><%= f.label :category %></label>
							<div><%= f.select :category, options_for_select(Video::CATEGORIES.map { |k, v| [v.titleize, k] }) %></div>
						</li>
						<li>
							<label> <%= f.label :keywords %></label>
	           				 <div><%= f.text_field :keywords, :class=>'fb_input_style' %><a class="info circle">?<span>Tags about the photo should be inserted with  a “,” separation between them</span></a>
</div>
						</li>
						<li id="file_upload_error"><div>Source file name can't be empty</div></li>
						<li>
							<label><%= f.label :video %></label>
							<div><%= f.file_field :source, :id=>"upload_fb_file" %></div>
						</li>
						<li class="seperator">----------------------------------------------------------------------------------------------------------------</li>
						<li class="send_form">						
								 <%#= f.submit 'Upload',:class=>'vtag_butt radious_6 left', :id=>'upload_fb_video'%>  <%#= link_to 'Cancel', "/",:class=>'cancel_link'%>
								  <a class='vtag_butt radious_6 left' id='upload_fb_video'>Upload</a> <%= link_to 'Cancel', "/",:class=>'cancel_link'%>
								 <div class="clr"></div>
						</li>		 	
						<% end %>
				</ul>
		</div>
</div>
