<% content_for :javascript_includes do %>
  <%= javascript_include_tag "comment.js" %>
<% end %>

<head>	
	<title> Tagmido - "<%= @video.title %>"</title>
</head>

<body class="bg-body-v">
<!--Content Section -->
	<div id="content_sec">
		<div id="left_content">
			<div id="banner_slider">
				<div id="title-video">
					<h1><%= @video.title %></h1>
					<div class="uploader-info"> <!--option for a plus image to add to fav-->
						<a href="/user/<%= @user.id %>/videos">by :  <%= @user.nick %></a>
					</div>
				</div>
				<div class="video-slider">
					<object type="application/x-shockwave-flash" style="width:629px; height:353px;" data="http://www.youtube.com/v/XB0pGnzsAZI?fs=1&amp;hl=en_US&amp;rel=0">
						<param name="movie" value="http://www.youtube.com/v/XB0pGnzsAZI?fs=1&amp;hl=en_US&amp;rel=0" />
						<param value="application/x-shockwave-flash" name="type" /> 
						<param value="true" name="allowfullscreen" /> 
						<param value="always" name="allowscriptaccess" /> 
						<param value="opaque" name="wmode" />
					</object>
				</div>
			</div>
			<div class="panel-video">
				<div class="embed-code">
					<textarea rows="" cols="">http://www.youtube.com/watch?v=kffacxfA7G4</textarea>
					<!--label><input 	type="checkbox" />Short URL</label-->
				</div>
				<div class="panel-right"><h3><strong>81,387,378</strong> views</h3></div>
			</div>
			<div class="share-panel">
				<em class="shout-out">&nbsp;</em>
				<!--div class="embed-code">
					<textarea rows="" cols="">http://www.youtube.com/watch?v=kffacxfA7G4</textarea>
					<label><input 	type="checkbox" />Short URL</label>
				</div-->
				<div class="social-connect">
					<div class="twitter"><a href="#"><img src="bg-tweet.gif" alt="" /></a></div>
					<div class="facebook"><a href="#"><img src="bg-facebook.gif" alt="" /></a></div>
				</div>
				<div class="social-network-group">
					<ul>
						<!--li><a href="#"><img src="/images/icon-social-1.png" alt="" /></a></li-->
						<li><a href="#"><img src="/images/icon-social-2.png" alt="" /></a></li>
						<li><a href="#"><img src="/images/icon-social-3.png" alt="" /></a></li>
						<li><a href="#"><img src="/images/icon-social-4.png" alt="" /></a></li>
						<!--li><a href="#"><img src="/images/icon-social-5.png" alt="" /></a></li-->
						<!--li><a href="#"><img src="/images/icon-social-6.png" alt="" /></a></li-->
						<!--li><a href="#"><img src="/images/icon-social-7.png" alt="" /></a></li-->
						<!--li><a href="#"><img src="/images/icon-social-8.png" alt="" /></a></li-->
						<!--li><a href="#"><img src="/images/icon-social-9.png" alt="" /></a></li-->
						<!--li><a href="#"><img src="/images/icon-social-10.png" alt="" /></a></li-->
						<!--li><a href="#"><img src="/images/icon-social-11.png" alt="" /></a></li-->
						<!--li><a href="#"><img src="/images/icon-social-12.png" alt="" /></a></li-->
					</ul>
				</div>
			</div>
			<div class="panel-video">
				<div class="panel-left">
					<ul>
						<!--li><a href="#" class="panl-1">Recommand</a></li-->
						<li><a class="panl-2" onclick="<%= signed_in? ? 'show_comment_form();' : 'alert("You must be logged in for adding a comment");' %>">Comment</a></li>
						<!--li><a href="#" class="panl-4">Share</a></li-->
						<!--li><a href="#" class="panl-5">Flag</a></li-->
					</ul>
				</div>
			</div>
				<%= render :partial => "comments/comment_form" %>
			<div class="video-info">
				<div class="left-info-box">
					<ul>
						<li class="nobg">Uploaded by <a href="#"><%=@user.nick %></a> on <%= @video.created_at.strftime("%b %d, %Y, %I:%m %p") %></li>
						<li>Category: <a href="<%= @video.category_uri %>"><%= @video.category_title %></a></li>
					</ul>
				</div>
				<div class="right-info-box">
					<p><strong>294,752!!!</strong> Recommendations </p>
				</div>
			</div>
<%= render :partial => "comments/comments_list" %>
<%= render :partial => "sidebars/single_video_sidebar" %>
<br class="clear" />
</div>
<!--Content Section End -->
 </div>
</body>